

.about-us{
	background: $beige;
	padding: 1rem 0;
	
	h3{
		color: $header-intro;
		text-align: center;
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}
	
	p{
		font-size: 1.2rem;
		padding: 0 1rem;
		line-height: 1.5;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
	img{
		width: 100%;
		height: auto;
		max-width: 400px;
		margin: auto;
		display: block;
	}
	
	.experts-list{
		margin: 0 auto 0 0.5rem;
		max-width: 500px;
		padding: 0;
		list-style-type: none;
		
		li{
			margin-bottom: 0.5rem;
			font-size: 1.2rem;
			padding-left: 3rem;
			padding-right: 1rem;
			background: url(../images/general/checkmark.svg) left top no-repeat;
			@include back-size (27px);
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h3{
			font-size: 2.8rem;
			margin-bottom: 2rem;
		}
		
		p{
			padding-left: 0;
			margin-left: 0;
		}
		
		img{
			margin: inherit;
		}
		
		.img-col{
			text-align: right;
			
			img{
				display: inline;
				max-width: 500px;
			}	
			
			&.img-alt{
				text-align: left;
			}
		}
		
		.experts-block,
		.friendly-block,
		.legal-block{
			padding: 1rem 0;
		}
		
		.experts-block{
			position: relative;
			
			@media only screen and (min-width: 64.063em) {
			
				&:after{
					content: '';
					position: absolute;
					bottom: -90px;
					left: 50%;
					margin-left: -60px;
					width: 120px;
					height: 120px;
					background: url(../images/home/arrow.svg) center bottom no-repeat;
				}
			}
		}
		
		.friendly-block{
			position: relative;
			
			@media only screen and (min-width: 64.063em) {
			
				&:after{
					content: '';
					position: absolute;
					bottom: -90px;
					left: 50%;
					margin-left: -60px;
					width: 120px;
					height: 120px;
					background: url(../images/home/arrow2.svg) center bottom no-repeat;
				}
			}
		}
	}
	
	@media only screen and (min-width: 64.063em) {
	
		h3{
			font-size: 4rem;
			margin-bottom: 2rem;
		}
		
		.experts-block,
		.friendly-block,
		.legal-block{
			padding: 2rem 0;
		}
	}
	
	.friendly-block{
		
		@media only screen and (min-width: 40.063em) {
			
			p{
				margin-left: auto;
				margin-right: 0;
				text-align: right;
			}
		}
	}
	
	.legal-block{
		
		margin-bottom: 6rem;
	}
}

.raring{
	background: darken($beige, 5%);
	color: $header-intro;
	
	h3{
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	
	p{
		font-size: 1.3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 1.5rem;
		
		&.lg-text{
			font-size: 1.5rem;
		}
		
		&.call-us{
			@include header-font;
			text-align: center;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		
		
	}
	
	@media only screen and (min-width: 64.063em) {
		
		
		h3,p, p.call-us{
			text-align: left;
			padding-left: 0;
		}
		
		h3{
			font-size: 3.2rem;
		}
		
		p{
			font-size: 1.3rem;
			
			&.lg-text{
				font-size: 2rem;
			}
		}
		
		.gform_wrapper{
			margin-top: 3rem;	
		}
	}
	
	.partner-wrap{
		background: darken($beige, 8%);
		padding-bottom: 100px;
		margin-top: 50px;
		
		h3{
			font-size: 1.3rem;
			text-align: center;
			margin: 3rem 0 2rem 0;
		}
		
		.test-slider{
			background: red;
			
			div{
				background: blue;
			}
		}
	
		.partner-panel{
			
			.partner{
				padding: 1rem;
			}
			
			.slick-arrow{
				width: 30px;
				height: 50px;
				@include border-radius(0);
				z-index: 1;
				
				&.slick-prev{
					background: url(../images/general/left-arrow.svg) center center no-repeat darken($beige, 20%);
					background-size: 10px;
					left: 0;
				}
				&.slick-next{
					background: url(../images/general/right-arrow.svg) center center no-repeat darken($beige, 20%);
					right: 0;
					background-size: 10px;
				}
			}
			
			.slick-dots{
				bottom: -35px;
			}
		}
		
		@media only screen and (min-width: 480px) {
			
			.partner-panel{
				
				
				.slick-arrow{
					
					&.slick-prev{
						left: -15px;
					}
					&.slick-next{
						right: -15px;
					}
				}
			}
		}
		
		@media only screen and (min-width: 48.063em) {
			padding-bottom: 90px;
		}
		@media only screen and (min-width: 64.063em) {
			padding-bottom: 110px;
			
			h3{
				font-size: 1.6rem;
			}
		}
		@media only screen and (min-width: 90.063em) {
			padding-bottom: 150px;
			
			.partner-panel{
				
				.slick-arrow{
					
					&.slick-prev{
						left: -30px;
					}
					&.slick-next{
						right: -30px;
					}
				}
			}
		}
	}
}

.trust-panel{
	text-align: center;
	position: relative;
	padding: 2rem 0 4rem 0;
	
	h4{
		color: $orange;
		font-size: 1.8rem;
		line-height: 1.2;
		width: 80%;
		margin: auto;
	}
	
	.tools-panel{
		
		.tool{
			padding: 2rem 2rem 0 2rem;
			text-align: center;
			padding-bottom: 2rem;
			
			img{
				display: inline-block;
			}
			
			p{
				max-width: 200px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.btn-more{
				background: $header-intro;
				color: $white;
				text-decoration: none;
				@include border-radius(3px);
				
				&:hover{
					background: darken($header-intro, 5%)
				}
			}
		}
		
		.slick-prev,
		.slick-next{
			background: #bbc2c6;
			width: 30px;
			height: 80px;
			@include border-radius(0);
		}
		
		.slick-prev{
			left: -15px;
			background-image: url(../images/general/left-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			@include back-size(10px); 
		}
		
		.slick-next{
			right: -15px;
			background-image: url(../images/general/right-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			@include back-size(10px);
		}
	}
	
	&:before{
		content: '';
		position: absolute;
		top: -50px;
		left: 0;
		width: 100%;
		height: 70px;
		background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
	 viewBox='0 0 1440 181.5' xml:space='preserve'><g id='Rectangle_1_1_'>
	<path fill='#FFFFFF' d='M208.6,106.3c-25.9-17-56.8-26.8-90.1-26.8c-27.7,0-53.8,6.9-76.7,19C29.3,87.9,15.2,79.1,0,72.6v108.9
		h1440V72.6c-19.8-8.5-41.6-13.1-64.5-13.1c-64.1,0-119.7,36.7-146.8,90.3c-19.2-14.6-43.2-23.3-69.2-23.3
		c-39.7,0-74.7,20.2-95.2,50.9c-22.6-57.3-78.5-97.9-143.8-97.9c-41.6,0-79.3,16.4-107.1,43.2c-22.3-26.4-55.6-43.2-92.9-43.2
		c-52.9,0-98,33.9-114.6,81.1c-21.8-20.5-51.1-33.1-83.4-33.1c-14.5,0-28.4,2.5-41.2,7.2c-27.6-52.4-82.5-88.2-145.8-88.2
		C284.4,46.5,238.7,69.8,208.6,106.3z'/></g></svg>");
		background-position: left bottom;
		background-repeat: repeat-x;
		@include back-size(cover);
		z-index: 1;
	}
	
	
	@media only screen and (min-width: 500px) {
		
		&:before{
			@include back-size(contain);
		}
	}
	
	@media only screen and (min-width: 670px) {
		
		h4{
			margin-bottom: 2rem;
		}
		
		&:before{
			top: -78px;	
			height: 80px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h4{
			font-size: 2rem;
		}
		
		.tools-panel{
		
			.tool{
			
				p{
					margin: 2rem 0;
				}
			}
		}
		
		&:before{
			top: -98px;	
			height: 100px;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		h4{
			font-size: 2.4rem;
		}
		
		.tools-panel{
		
			.tool{
				padding: 2rem 1rem 0 1rem;				
			}
		}
		
		&:before{
			top: -118px;	
			height: 120px;
		}
	}
}




/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}