
.introduction{
	background: $orange;
	color: $white;
}

.about-us{
	background: $beige;
	
	h3{
		color: $header-intro;
	}
}

.raring{
	background: darken($beige, 5%);
	
	color: $header-intro;
}

.trust-panel{
	
	h4{
		color: $orange;
	}
	
	.partner{
		text-align: center;
		padding-bottom: 2rem;
		
		.btn-more{
			background: $header-intro;
			color: $white;
		}
	}
}




/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}