
.carousel{

	.carousel-slide{
		height: 500px;		
		
		.carousel-inner{
			height: 500px;
			@include back-size(cover);
			background-position: center center;
			padding-top: 7rem;
			padding-left: 1rem;
			
			h1{
				color: $orange;
				font-size: 2.8rem;
				line-height: 1.2;
				width: 265px;
				
				.disclaimer{
					@include body-font;
					font-size: 1rem;
					display: block;
				}
				
				br{
					display: none;
				}
			}
		}
			
		@media only screen and (min-width: 40.063em) {
			
			height: 550px;
			
			.carousel-inner{
				height: 550px;
			
				h1{
					width: 400px;
				}
			}
		}
			
		@media only screen and (min-width: 48.063em) {
			
			height: 600px;
			
			.carousel-inner{
				height: 600px;
			
				h1{
					font-size: 3.4rem;
					width: 480px;
				}
			}
		}
			
		@media only screen and (min-width: 64.063em) {
			
			height: 700px;
			
			.carousel-inner{
				height: 700px;
			
				h1{
					font-size: 3.4rem;
					width: 480px;
					position: absolute;
					left: 40%;
					top: 50px;
				}
			}
		}
			
		@media only screen and (min-width: 90.063em) {
			
			height: 850px;
			
			.carousel-inner{
				height: 850px;
			
				h1{
					font-size: 4rem;
					width: 550px;
					left: 40%;
					top: 120px;
					
					.disclaimer{
						font-size: 1.2rem;
					}
				}
			}
		}
		
	}
	
	.slick-dots{
		bottom: 70px;
		z-index: 2;
		
		li{
			
			button{
				background: $orange;
			}
			
			&.slick-active{
				
				button{
					background: darken($orange, 20%);
				}
			}
		}
	}
}

.introduction{
	background: $orange;
	color: $white;
	position: relative;
	text-align: center;
	padding: 3rem 0;
	
	.intro-content{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		
		h2{
			font-size: 1.9rem;
			line-height: 1.2;
		}
		
		p{
			font-size: 1.2rem;
			
			&:nth-of-type(2n){
				font-size: 1.6rem;
				margin-bottom: 3rem;
			}
			
			&:last-of-type{
				@include header-font;
				font-size: 1.5rem;
		    width: 60%;
		    margin: auto;
		    margin-top: 5rem;
			}
		}
	}
	
	&:before{
		content: '';
		position: absolute;
		top: -48px;
		left: 0;
		width: 100%;
		height: 50px;
		background-image: url(../images/general/cloud-pattern.png);
		background-position: left bottom;
		background-repeat: repeat-x;
		@include back-size(cover);
		z-index: 1;
	}
	
	&:after{
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		width: 100px;
		height: 60px;
		margin-left: -50px;
		background-image: url(../images/general/down-arrow.svg);
		background-position: center 10px;
		background-repeat: no-repeat;
		background-color: $orange;
		@include back-size(30px);
		@include border-radius(0 0 80px 80px);
		z-index: 1;
	}
	
	@media only screen and (min-width: 500px) {
		
		&:before{
			@include back-size(contain);
		}
	}
	
	@media only screen and (min-width: 670px) {
		
		.intro-content{
			max-width: 660px;
			padding-top: 2rem;
			
			h2{
				font-size: 1.6rem;
			}
			
			p{
				
				&:last-of-type{
					width: inherit;
				}
			}
		}
		
		&:before{
			top: -58px;	
			height: 60px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		padding: 2rem 0 0 0;
		
		.intro-content{
			max-width: 750px;
			padding: 4rem 0 3rem 0;
			
			h2{
				font-size: 2.4rem;
			}
			
			p{
				
				&:last-of-type{
					margin: 7rem 0 1rem 0;
				}
			}
		}
		
		&:before{
			top: -78px;	
			height: 80px;
		}
		
		&:after{
			bottom: -25px;
			width: 110px;
			height: 60px;
			margin-left: -55px;
			background-position: center 10px;
			@include back-size(30px);
			@include border-radius(0 0 80px 80px);
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		&:before{
			top: -98px;	
			height: 100px;
		}
	}
}

.about-us{
	background: $beige;
	padding: 1rem 0;
	
	h3{
		color: $header-intro;
		text-align: center;
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}
	
	p{
		font-size: 1.2rem;
		padding: 0 1rem;
		line-height: 1.5;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
	img{
		width: 100%;
		height: auto;
		max-width: 400px;
		margin: auto;
		display: block;
	}
	
	.experts-list{
		margin: 0 auto 0 0.5rem;
		max-width: 500px;
		padding: 0;
		list-style-type: none;
		
		li{
			margin-bottom: 0.5rem;
			font-size: 1.2rem;
			padding-left: 3rem;
			padding-right: 1rem;
			background: url(../images/general/checkmark.svg) left top no-repeat;
			@include back-size (27px);
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h3{
			font-size: 2.8rem;
			margin-bottom: 2rem;
		}
		
		p{
			padding-left: 0;
			margin-left: 0;
		}
		
		img{
			margin: inherit;
		}
		
		.img-col{
			text-align: right;
			
			img{
				display: inline;
				max-width: 500px;
			}	
			
			&.img-alt{
				text-align: left;
			}
		}
		
		.experts-block,
		.friendly-block,
		.legal-block{
			padding: 1rem 0;
		}
		
		.experts-block{
			position: relative;
			
			@media only screen and (min-width: 64.063em) {
			
				&:after{
					content: '';
					position: absolute;
					bottom: -90px;
					left: 50%;
					margin-left: -60px;
					width: 120px;
					height: 120px;
					background: url(../images/home/arrow.svg) center bottom no-repeat;
				}
			}
		}
		
		.friendly-block{
			position: relative;
			
			@media only screen and (min-width: 64.063em) {
			
				&:after{
					content: '';
					position: absolute;
					bottom: -90px;
					left: 50%;
					margin-left: -60px;
					width: 120px;
					height: 120px;
					background: url(../images/home/arrow2.svg) center bottom no-repeat;
				}
			}
		}
	}
	
	@media only screen and (min-width: 64.063em) {
	
		h3{
			font-size: 4rem;
			margin-bottom: 2rem;
		}
		
		.experts-block,
		.friendly-block,
		.legal-block{
			padding: 2rem 0;
		}
	}
	
	.friendly-block{
		
		@media only screen and (min-width: 40.063em) {
			
			p{
				margin-left: auto;
				margin-right: 0;
				text-align: right;
			}
		}
	}
	
	.legal-block{
		
		margin-bottom: 6rem;
	}
}

.raring{
	background: darken($beige, 5%);
	color: $header-intro;
	
	h3{
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	
	p{
		font-size: 1.3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 1.5rem;
		
		&.lg-text{
			font-size: 1.5rem;
		}
		
		&.call-us{
			@include header-font;
			text-align: center;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h3,p, p.call-us{
			text-align: left;
			padding-left: 0;
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		h3{
			font-size: 3.2rem;
		}
		
		p{
			font-size: 1.3rem;
			
			&.lg-text{
				font-size: 2rem;
			}
		}
	}
	
	
	.partner-wrap{
		background: darken($beige, 8%);
		padding-bottom: 70px;
		margin-top: 50px;
		
		h3{
			font-size: 1.6rem;
			text-align: center;
		}
	
		.partner-panel{
			
			.partner{
				padding: 1rem;
			}
			
			.slick-arrow{
				width: 30px;
				height: 50px;
				@include border-radius(0);
				z-index: 1;
				
				&.slick-prev{
					background: url(../images/general/left-arrow.svg) center center no-repeat darken($beige, 20%);
					background-size: 10px;
					left: 0;
				}
				&.slick-next{
					background: url(../images/general/right-arrow.svg) center center no-repeat darken($beige, 20%);
					right: 0;
					background-size: 10px;
				}
			}
			
			.slick-dots{
				bottom: -35px;
			}
		}
		
		@media only screen and (min-width: 480px) {
			
			.partner-panel{
				
				.slick-arrow{
					
					&.slick-prev{
						left: -15px;
					}
					&.slick-next{
						right: -15px;
					}
				}
			}
		}
		
		@media only screen and (min-width: 48.063em) {
			padding-bottom: 90px;
		}
		@media only screen and (min-width: 64.063em) {
			padding-bottom: 110px;
		}
		@media only screen and (min-width: 90.063em) {
			padding-bottom: 150px;
			
			.partner-panel{
				
				.slick-arrow{
					
					&.slick-prev{
						left: -30px;
					}
					&.slick-next{
						right: -30px;
					}
				}
			}
		}
	}
}

.trust-panel{
	text-align: center;
	position: relative;
	padding: 2rem 0 4rem 0;
	
	h4{
		color: $orange;
		font-size: 1.8rem;
		line-height: 1.2;
		width: 80%;
		margin: auto;
	}
	
	.tools-panel{
		
		.tool{
			padding: 2rem 2rem 0 2rem;
			text-align: center;
			padding-bottom: 2rem;
			
			img{
				display: inline-block;
			}
			
			p{
				max-width: 200px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.btn-more{
				background: $header-intro;
				color: $white;
			}
		}
		
		.slick-prev,
		.slick-next{
			background: #bbc2c6;
			width: 30px;
			height: 80px;
			@include border-radius(0);
		}
		
		.slick-prev{
			left: -15px;
			background-image: url(../images/general/left-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			@include back-size(10px); 
		}
		
		.slick-next{
			right: -15px;
			background-image: url(../images/general/right-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			@include back-size(10px);
		}
	}
	
	&:before{
		content: '';
		position: absolute;
		top: -50px;
		left: 0;
		width: 100%;
		height: 50px;
		background-image: url(../images/general/clouds-white.svg);
		background-position: left bottom;
		background-repeat: repeat-x;
		@include back-size(cover);
		z-index: 1;
	}
	
	
	@media only screen and (min-width: 500px) {
		
		&:before{
			@include back-size(contain);
		}
	}
	
	@media only screen and (min-width: 670px) {
		
		h4{
			margin-bottom: 2rem;
		}
		
		&:before{
			top: -60px;	
			height: 60px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h4{
			font-size: 2rem;
		}
		
		.tools-panel{
		
			.tool{
			
				p{
					margin: 2rem 0;
				}
			}
		}
		
		&:before{
			top: -80px;	
			height: 80px;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		h4{
			font-size: 2.4rem;
		}
		
		.tools-panel{
		
			.tool{
				padding: 2rem 1rem 0 1rem;				
			}
		}
		
		&:before{
			top: -100px;	
			height: 100px;
		}
	}
}




/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}