.introduction{
	background: $orange;
	color: $white;
	position: relative;
	text-align: center;
	padding: 3rem 0;
	
	.intro-content{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		
		h2{
			font-size: 1.9rem;
			line-height: 1.2;
		}
		
		p{
			font-size: 1.2rem;
		}
	}
	
	&:before{
		content: '';
		position: absolute;
		top: -68px;
		left: 0;
		width: 100%;
		height: 70px;
		background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
	 viewBox='0 0 1440 181.5' xml:space='preserve'><g id='Rectangle_1_1_'>
	<path fill='#E65D33' d='M208.6,106.3c-25.9-17-56.8-26.8-90.1-26.8c-27.7,0-53.8,6.9-76.7,19C29.3,87.9,15.2,79.1,0,72.6v108.9
		h1440V72.6c-19.8-8.5-41.6-13.1-64.5-13.1c-64.1,0-119.7,36.7-146.8,90.3c-19.2-14.6-43.2-23.3-69.2-23.3
		c-39.7,0-74.7,20.2-95.2,50.9c-22.6-57.3-78.5-97.9-143.8-97.9c-41.6,0-79.3,16.4-107.1,43.2c-22.3-26.4-55.6-43.2-92.9-43.2
		c-52.9,0-98,33.9-114.6,81.1c-21.8-20.5-51.1-33.1-83.4-33.1c-14.5,0-28.4,2.5-41.2,7.2c-27.6-52.4-82.5-88.2-145.8-88.2
		C284.4,46.5,238.7,69.8,208.6,106.3z'/></g></svg>");
		background-position: left bottom;
		background-repeat: repeat-x;
		@include back-size(cover);
		z-index: 1;
	}
	
	@media only screen and (min-width: 500px) {
		
		&:before{
			@include back-size(contain);
		}
	}
	
	@media only screen and (min-width: 670px) {
		
		.intro-content{
			max-width: 660px;
			padding: 2rem 0 3rem 0;
			
			h2{
				font-size: 1.6rem;
			}
			
			p{
			}
		}
		
		&:before{
			top: -78px;	
			height: 80px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
			.intro-content{
			max-width: 750px;
			padding: 3rem 0 4rem 0;
			
			h2{
				font-size: 2.4rem;
			}
		}
		
		&:before{
			top: -98px;	
			height: 100px;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		&:before{
			top: -118px;	
			height: 120px;
		}
	}
	
	
	// PAGE SPECIFIC
	
	/** HOMEPAGE **/ 
	&.home-intro{
		
		p{
			
			&:nth-of-type(2n){
				font-size: 1.6rem;
				margin-bottom: 3rem;
			}
			
			&:last-of-type{
				@include header-font;
				font-size: 1.5rem;
		    width: 60%;
		    margin: auto;
		    margin-top: 5rem;
			}
		}
		
		&:after{
			content: '';
			position: absolute;
			bottom: -25px;
			left: 50%;
			width: 100px;
			height: 60px;
			margin-left: -50px;
			background-image: url(../images/general/down-arrow.svg);
			background-position: center 10px;
			background-repeat: no-repeat;
			background-color: $orange;
			@include back-size(30px);
			@include border-radius(0 0 80px 80px);
			z-index: 1;
		}
		
		@media only screen and (min-width: 670px) {
		
			.intro-content{
				padding: 1rem 0 2rem 0;
				
				p{
					
					&:last-of-type{
						width: inherit;
					}
				}
			}	
		}	
		
		@media only screen and (min-width: 48.063em) {
			
			.intro-content{
				padding: 4rem 0 3rem 0;
				
				p{
					
					&:last-of-type{
						margin: 7rem 0 1rem 0;
					}
				}
			}
		
			&:after{
				bottom: -25px;
				width: 110px;
				height: 60px;
				margin-left: -55px;
				background-position: center 10px;
				@include back-size(30px);
				@include border-radius(0 0 80px 80px);
			}
		}
	}
	
	/** Culture **/ 
	&.culture-intro{
		padding: 1rem 0 2rem 0;
		
		h2{
			font-size: 1.6rem;
		}
		
		p.lg{
			font-size: 2.4rem;
			@include header-font;
		}
	}
	
	/** Advisory **/ 
	&.advisory-intro{
		background: $beige;
		color: $orange;
		padding: 1rem 0 2rem 0;
		
		h2{
			font-size: 1.8rem;
		}
		
		&:before{
			background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
		 viewBox='0 0 1440 181.5' xml:space='preserve'><g id='Rectangle_1_1_'>
		<path fill='#ecece7' d='M208.6,106.3c-25.9-17-56.8-26.8-90.1-26.8c-27.7,0-53.8,6.9-76.7,19C29.3,87.9,15.2,79.1,0,72.6v108.9
			h1440V72.6c-19.8-8.5-41.6-13.1-64.5-13.1c-64.1,0-119.7,36.7-146.8,90.3c-19.2-14.6-43.2-23.3-69.2-23.3
			c-39.7,0-74.7,20.2-95.2,50.9c-22.6-57.3-78.5-97.9-143.8-97.9c-41.6,0-79.3,16.4-107.1,43.2c-22.3-26.4-55.6-43.2-92.9-43.2
			c-52.9,0-98,33.9-114.6,81.1c-21.8-20.5-51.1-33.1-83.4-33.1c-14.5,0-28.4,2.5-41.2,7.2c-27.6-52.4-82.5-88.2-145.8-88.2
			C284.4,46.5,238.7,69.8,208.6,106.3z'/></g></svg>");
		}
	}
	
	/** Cloud **/ 
	&.cloud-desk-intro{
		background: $white;
		
		h2, p{
			color: #28a1b5;
		}
			
		&:before{
			background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
		 viewBox='0 0 1440 181.5' xml:space='preserve'><g id='Rectangle_1_1_'>
		<path fill='#FFFFFF' d='M208.6,106.3c-25.9-17-56.8-26.8-90.1-26.8c-27.7,0-53.8,6.9-76.7,19C29.3,87.9,15.2,79.1,0,72.6v108.9
			h1440V72.6c-19.8-8.5-41.6-13.1-64.5-13.1c-64.1,0-119.7,36.7-146.8,90.3c-19.2-14.6-43.2-23.3-69.2-23.3
			c-39.7,0-74.7,20.2-95.2,50.9c-22.6-57.3-78.5-97.9-143.8-97.9c-41.6,0-79.3,16.4-107.1,43.2c-22.3-26.4-55.6-43.2-92.9-43.2
			c-52.9,0-98,33.9-114.6,81.1c-21.8-20.5-51.1-33.1-83.4-33.1c-14.5,0-28.4,2.5-41.2,7.2c-27.6-52.4-82.5-88.2-145.8-88.2
			C284.4,46.5,238.7,69.8,208.6,106.3z'/></g></svg>");
		}
	}
}