.introduction{
	background: $orange;
	color: $white;
	position: relative;
	text-align: center;
	padding: 3rem 0;
	
	.intro-content{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		
		h2{
			font-size: 1.9rem;
			line-height: 1.2;
		}
		
		p{
			font-size: 1.2rem;
		}
	}
	
	&:before{
		content: '';
		position: absolute;
		top: -48px;
		left: 0;
		width: 100%;
		height: 50px;
		background-image: url(../images/general/cloud-pattern.png);
		background-position: left bottom;
		background-repeat: repeat-x;
		@include back-size(cover);
		z-index: 1;
	}
	
	@media only screen and (min-width: 500px) {
		
		&:before{
			@include back-size(contain);
		}
	}
	
	@media only screen and (min-width: 670px) {
		
		.intro-content{
			max-width: 660px;
			padding: 2rem 0 3rem 0;
			
			h2{
				font-size: 1.6rem;
			}
			
			p{
			}
		}
		
		&:before{
			top: -58px;	
			height: 60px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		
		
		.intro-content{
			max-width: 750px;
			padding: 3rem 0 4rem 0;
			
			h2{
				font-size: 2.4rem;
			}
		}
		
		&:before{
			top: -78px;	
			height: 80px;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		&:before{
			top: -98px;	
			height: 100px;
		}
	}
	
	
	// PAGE SPECIFIC
	
	/** HOMEPAGE **/ 
	&.home-intro{
		
		p{
			
			&:nth-of-type(2n){
				font-size: 1.6rem;
				margin-bottom: 3rem;
			}
			
			&:last-of-type{
				@include header-font;
				font-size: 1.5rem;
		    width: 60%;
		    margin: auto;
		    margin-top: 5rem;
			}
		}
		
		&:after{
			content: '';
			position: absolute;
			bottom: -25px;
			left: 50%;
			width: 100px;
			height: 60px;
			margin-left: -50px;
			background-image: url(../images/general/down-arrow.svg);
			background-position: center 10px;
			background-repeat: no-repeat;
			background-color: $orange;
			@include back-size(30px);
			@include border-radius(0 0 80px 80px);
			z-index: 1;
		}
		
		@media only screen and (min-width: 670px) {
		
			.intro-content{
				padding: 1rem 0 2rem 0;
				
				p{
					
					&:last-of-type{
						width: inherit;
					}
				}
			}	
		}	
		
		@media only screen and (min-width: 48.063em) {
			
			.intro-content{
				padding: 4rem 0 3rem 0;
				
				p{
					
					&:last-of-type{
						margin: 7rem 0 1rem 0;
					}
				}
			}
		
			&:after{
				bottom: -25px;
				width: 110px;
				height: 60px;
				margin-left: -55px;
				background-position: center 10px;
				@include back-size(30px);
				@include border-radius(0 0 80px 80px);
			}
		}
	}
	
	/** Culture **/ 
	&.culture-intro{
		padding: 1rem 0 2rem 0;
		
		h2{
			font-size: 1.6rem;
		}
		
		p.lg{
			font-size: 2.4rem;
			@include header-font;
		}
	}
	
	/** Advisory **/ 
	&.advisory-intro{
		background: $beige;
		color: $orange;
		padding: 1rem 0 2rem 0;
		
		h2{
			font-size: 1.8rem;
		}
		
		&:before{
			background-image: url(../images/general/cloud-pattern-beige.png);
		}
	}
	
	/** Cloud **/ 
	&.cloud-desk-intro{
		background: #28a1b5;
			
		&:before{
			display: none;
		}
	}
}