.single-column{
	padding: 1rem 0;
	
	/* min-width 769px */
	@media only screen and (min-width: 48.063em) {
		
		padding: 2rem 0;
		
	}
	
	/* min-width 1025px */
	@media only screen and (min-width: 64.063em) {
		
		padding: 3rem 0;
		
		p{
			font-size: 1.2rem;
			line-height: 1.4;
		}
		
	}
}