/******************************************************************
Stylesheet: Forms
******************************************************************/

.gform_wrapper .gform_body {
    width: 100% !important;
}

.gform_wrapper{
	
}

.gform_footer{
	
	.button{
		background: $orange;
		color: $white;
		
		&:hover{
			background: darken($orange, 5%);
		}
	}
}


form{
	
	label{
		display: block;
		margin-bottom: 0.5rem;
	}
	
	input,
	textarea{
		border: 1px solid $border;
		padding: 0.8rem;
		@include body-font;
		@include border-radius(3px);
	}
	
	#submit,
	#searchsubmit{
		border: none;
		padding: 0.8rem 1.5rem;
		@include body-font;
		color: $white;
		background: lighten($bgrey, 20%);
		@include border-radius(0);
		@include transition();
		
		&:hover{
			background: lighten($bgrey, 30%);
		}
	}
}