
.page-footer{
	text-align: center;
	padding-bottom: 2rem;
	
	.foot-inner{
		
		.copyright{
			
			.date{
				display: block;
			}
			
			br{
				display: none;
			}
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		padding-bottom: 0;
		
		.foot-inner{
		
			.copyright{
				
				.date{
					display: block;
				}
				
				br{
					display: block;
				}
			}
		}
	}
}


.social-links{
	margin: 0;
	padding: 0;
	
	li{
		list-style-type: none;
		display: inline;
		
		.support{
			color: $text;
		}
		
		&.icon-btn{
			
			a{
		    width: 30px;
		    height: 30px;
		    display: inline-block;
		    text-align: center;
		    line-height: 30px;
		    border-radius: 15px;
		    background: $orange;
		    color: white;
		    text-decoration: none;
		    vertical-align: middle;
	    }
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		float: right;
		margin-top: 1rem;
	}
}




/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
	.page-footer{
		text-align: inherit;
		
		.foot-inner{
			border-top: 1px solid $lgrey;
			padding: 1rem 0;
			
			.copyright{
				float: left;
			}
			
			.extras{
				float: right;
			}
			
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}