
.page-footer{
	text-align: center;
}




/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
	.page-footer{
		text-align: inherit;
		
		.foot-inner{
			border-top: 1px solid $lgrey;
			padding: 1rem 0;
			
			.copyright{
				float: left;
			}
			
			.extras{
				float: right;
			}
			
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}