/* header */
.page-header{
	
	.main-logo{
		display: inline-block;
		
		img{
			width: 100px;
			height: auto;
		}
	}
}





/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}