/* header */
.page-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 0 1rem 1rem;
	z-index: 1;
	
	.main-logo{
		display: inline-block;
		
		img{
			width: 80px;
			height: auto;
		}
	}
}





/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
	.page-header{
		
		.main-logo{
			
			img{
				width: 100px;
				}
			}
		}
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}