
.main-menu{
	//display: none;
}

#trigger-overlay{
	display: block;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	position: relative;
	color: $lgrey;
	float: right;
}

#trigger-overlay span:after,
#trigger-overlay span:before{
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#trigger-overlay span:after{
	top: 9px;
}

#trigger-overlay span{
  position: absolute;
  display: block;
  top: 22px;
  left: 9px;
}

#trigger-overlay span,
#trigger-overlay span:after,
#trigger-overlay span:before {
  width: 30px;
  height: 5px;
  background-color: $orange;
  backface-visibility: hidden;
  @include border-radius(2px);
}

body.cloud-desk,
body.advisory{
	#trigger-overlay span,
	#trigger-overlay span:after,
	#trigger-overlay span:before {
	  background-color: $white;
	 }
}


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(230,93,51,0.9);
	z-index: 10000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/general/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 10000;
}

/* Menu style */
.overlay .main-menu {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 28px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	@media only screen and (min-width: 40.063em) {
	
		font-size: 40px;
	}
	
	@media only screen and (min-width: 48.063em) {
		
		font-size: 46px;
	}
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 12%;
	height: calc(100% / 8);
	min-height: 54px;
}

.overlay ul li a {
	@include header-font;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e7cec6;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc .main-menu {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc .main-menu ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open .main-menu ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close .main-menu ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay .main-menu {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}





/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
	#trigger-overlay span{
  	top: 32px;
		left: 0;
  }
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}